body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2980b9; /* Fundo azul vibrante */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px; /* Aumentei o tamanho do título */
    color: #1a5379; /* Azul vibrante para título */
    margin-bottom: 20px;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 70%;
}

button {
    padding: 10px 20px;
    border: none;
    background: #2ecc71; /* Verde vibrante para botão */
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #27ae60; /* Verde mais escuro ao passar o mouse */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative; /* Posição relativa para alinhar o botão de exclusão */
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

li:hover {
    background: #f1f1f1;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #e74c3c; /* Vermelho para botão de exclusão */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease-in-out;
    display: none;
}

.delete-button:hover {
    background: #c0392b; /* Vermelho mais escuro ao passar o mouse */
}
